 *{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    }

    .contenedor {
    
    width: 100%;
    height: 340vh;
    background-color: beige;

    display: flex;
    flex-direction: column;


    }
    header {

        background-color: black;
        width: 100%;
        height: 7vh;
       

        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
     header .logo {

    width: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;
    }

    .nav {
    
       height: 7vh;
       width: 70%;
      

       display: flex;
       justify-content: center;
       align-items: center;

    
    } 
    .nav a {

        text-decoration: none;
        color: white;
        padding: 40px;

        display: flex;
        

    }

    a:hover {
    
       color: #343434;
    
    }

    .main {

        width: 100%;
        height: 328vh;
        padding: 10px;

        display: flex;
        flex-direction: column;

    }
    article {

         width: 97vw;
         height: 110vh;
         padding: 10px;

         display: flex;
         flex-direction: column;

    

    }
    .contenido {

        height: 105vh;
        width: 95vw;
        padding-top: 20px;

        display: flex;
        flex-direction: row;
        justify-content:space-around;
        gap: 50px;

    }
    .hijo1 {

        height: 90vh;
        width: 30vw;
        padding: 10px;

    }
    .hijo2 {

        height: 90vh;
        width: 30vw;
        padding: 10px;

    }
    h1 {

        height: 6vh;
        width: 100%;
        padding-left: 50px;
        font-size: 40px;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-self: center;


    }
    h2 {
        padding-top: 15px;

    }
    h3 {
      
        padding-top: 10px;
        font-weight: normal;
        font-size: medium;



    }
    h4 {

        padding-top: 10px;
        font-weight: normal;
     
    }
    h6 {

        padding-top: 10px;
        font-size: 15px;
        font-weight: normal;

    }
    h6 a {

        text-decoration: none;
    }

    .img {

        height: 45vh;
        width: 25vw;

        display: flex;
        justify-content: center;

    }

    .contenido1 {

        height: 105vh;
        width: 95vw;
        padding: 20px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;

    }
    .hijo3 {

        height: 90vh;
        width: 40vw;
        padding: 10px;
        text-decoration: none;

    } 
    .hijo4 {

        height: 90vh;
        width: 40vw;
        padding: 10px;
        text-decoration: none;

    } 
    .hijo5 {

        height: 90vh;
        width: 40vw;
        padding: 10px;
        text-decoration: none;

    } 

    
    .contenido2 {

        height: 105vh;
        width: 95vw;
        padding: 20px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;

    }
    .hijo6 {

        height: 90vh;
        width: 40vw;
        padding: 10px;
        text-decoration: none;

    } 
    .hijo7 {

        height: 90vh;
        width: 40vw;
        padding: 10px;
        text-decoration: none;

    } 
    .hijo8 {

        height: 90vh;
        width: 40vw;
        padding: 10px;
        text-decoration: none;

    } 
 
    footer  {
   
        height: 5vh;
        width: 100%;
        background-color: black;
        color: white;
     
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        text-decoration: none;
        gap: 20px;
        
     }
     footer img {
     
        height: 30px;
     
        display: flex;
        justify-content: center;
        align-items: center;
     
     }
     